<link href="{{ MEDIA_URL }}openaccount/css/openstyle.css" rel="stylesheet" type="text/css">

<div class="text-center">
	<h1 class="index_h1">InstaForex, el mejor bróker en Asia</h1>
	<p>Herramientas universales de trading para la gestión monetaria en Forex</p>
	<div class="hr">
		<a href="#block-open-simple-account-buttons-gray-and-red-content" class="toggle-btn hidden-sm hidden-md hidden-lg"></a>
	</div>
	<div id="block-open-simple-account-buttons-gray-and-red-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-sm-offset-2 menu_md-mede_box openacoount_md-mede_box-button-1 ">
					<a href="https://www.instaforex.com/sp/register_demo_account" class="btn btn-default btn-lg-xs btn-block">Abrir cuenta demo</a>
					<br>
				</div>
				<div class="col-xs-12 col-sm-4 col-sm-offset-0 menu_md-mede_box
										openacoount_md-mede_box-button-2">
					<a href="https://www.instaforex.com/sp/open_live_account" class="btn
						btn-primary btn-lg-xs btn-block">Abrir cuenta de operaciones</a>
					<br>
				</div>
			</div>
			<div class="row col-xs-12 box-102 max-width-img-auto-marging ">
				<div class="col-xs-12 col-md-6 visible-sm visible-xs openacoount_md-img_box-button-1 " style="padding-right: 0px; padding-left: 0px;" >
					<a class="openacoount_md-img_box-1" target="_blank" href="https://www.instaforex.com/downloads/itc4setup.exe?v=170425">
						<img class="social" src="https://fxn.instaforex.com/i/img/site/footer/instaforex_footer_apps_google_en.png" style="height: 38px; width: 130px; ">
					</a>
					<a class="openacoount_md-img_box-2" target="_blank" href="https://itunes.apple.com/gb/app/instaforex-mobiletrader/id987486023">
						<img class="social" src="https://fxn.instaforex.com/i/img/site/footer/instaforex_footer_apps_apple_en.png" style="height: 38px; width: 130px; ">
					</a>
				</div>
				<div class="col-xs-12 col-md-6 hidden-sm hidden-xs openacoount_md-img_box-button-2 hidden-xs-down " style="padding-right: 0px; padding-left: 0px;">
					<a style="text-decoration: none; margin-right: 5px; margin-left: 4px;" target="_blank" href="https://play.google.com/store/apps/details?id=com.instaforex.mobiletrader&amp;hl=en">

						<img class="social" src="https://fxn.instaforex.com/i/img/site/metatrader_2px.png" style="height: 38px;">
					</a>
					<a style="text-decoration: none;margin-right: 5px; margin-left: 5px;" target="_blank" href="https://webtrader.instaforex.com/login">
						<img class="social" src="https://fxn.instaforex.com/i/img/site/webtrader_2px.png" style="height: 38px;">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
