
<div class="content container">
  <div class="row">
    <div class="col-md-8">
      <form action="{% url open.name %}"  method="post" >
        {% csrf_token %}
        <div class="form-group"> <!-- Full Name -->
          <label for="full_name_id" class="control-label">Nombre</label>
          <input type="text" class="form-control" id="full_name_id" name="Name" placeholder="John Deer">
        </div>

        <div class="form-group"> <!-- Full Name -->
          <label for="full_name_id" class="control-label">Apellidos</label>
          <input type="text" class="form-control" id="full_name_id" name="SurNames" placeholder="John Deer">
        </div>

        <div class="form-group"> <!-- Street 1 -->
          <label for="street1_id" class="control-label">Street Address 1</label>
          <input type="text" class="form-control" id="street1_id" name="Direcc" placeholder="Street address, P.O. box, company name, c/o">
        </div>

        <div class="form-group"> <!-- Street 2 -->
          <label for="street2_id" class="control-label">Street Address 2</label>
          <input type="text" class="form-control" id="street2_id" name="Direcc2" placeholder="Apartment, suite, unit, building, floor, etc.">
        </div>

        <div class="form-group"> <!-- City-->
          <label for="city_id" class="control-label">City</label>
          <input type="text" class="form-control" id="city_id" name="City" placeholder="Smallville">
        </div>

        <div class="form-group"> <!-- Zip Code-->
          <label for="zip_id" class="control-label">Zip Code</label>
          <input type="text" class="form-control" id="zip_id" name="ZipCode" placeholder="#####">
        </div>

        <div class="form-group"> <!-- State Button -->
          <label for="state_id" class="control-label">State</label>
          <select class="form-control" id="state_id">
            <option value="EN">Ingles</option>
            <option value="RU">Ruso</option>
          </select>
        </div>

        <div class="form-group">
          <label for="email">Email address:</label>
          <input type="email" name="email" class="form-control" id="email">
        </div>

        <div class="form-group">
          <label for="Phone" class="control-label">Telephone</label>
          <input type="text" name="Phone" class="form-control input-medium bfh-phone" data-format="+1 (ddd) ddd-dddd">
          <span class="bfh-phone" data-format="+1 dddddddddd" data-number="15555555555"></span>
        </div>
        {{form.as_p}}
        <div class="form-group"> <!-- Submit Button -->
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>

    </div>
  </div>
</div>
