{% load staticfiles menu_tags %}

<link href="{{ MEDIA_URL }}menu/css/menu_style.css" rel="stylesheet" type="text/css">

<script>

var num = 0; //number of pixels before modifying styles

$(window).bind('scroll', function () {
    if ($(window).scrollTop() > num) {
        $('.menu').addClass('fixed');
    } else {
        $('.menu').removeClass('fixed');
    }
});
</script>
<header>
  <div class="container menu">
    <nav class="navbar navbar-default navbar-nenu-main">
      <div class="center-menu">
        <div class="navbar-header">
		     <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			      <span class="sr-only">Toggle navigation</span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
			      <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/"><img width="210" height="47"
             src="{% static 'images/logo.png' %}"></a>
	       </div>
         <div class="collapse navbar-collapse js-navbar-collapse">
          {% for child in children %}
            <ul class="nav navbar-nav">
              <li class="dropdown mega-dropdown child{% if child.selected %} selected{% endif %}
                        {% if child.ancestor %} ancestor{% endif %}
                        {% if child.sibling %} sibling{% endif %}
                        {% if child.descendant %} descendant{% endif %}
                        {% if child.children %} dropdown{% endif %}">

                    <a {% if child.children %} href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
                          class="dropdown-toggle" data-toggle="dropdown"
                          {% endif %}>{{ child.get_menu_title }}
                      {% if child.children|length %}{% if child.children.ancestor %}<span class="glyphicon glyphicon-chevron-down"></span>{% endif %}{% endif %}
                    </a>

                    <ul class="dropdown-menu mega-dropdown-menu row">
                      {% for c in child.children %}
                        {% if c.is_leaf_node or c %}
                      <li class="col-sm-3">
                        <ul>
                          <li class="dropdown-header">Titulo</li>
                          <li>
                            <a href="{{ c.get_absolute_url }}" >{{ c.title}}</a>
                            {{child.children.descendant}}
                            {{c.ancestor}}

                          </li>
                        </ul>

                        {% for a in c.children %}
                          {% if a.descendant %}

                          <ul>
                            <li class="dropdown-header">Titulo</li>
                              <li>
                                <a href="{{ a.get_absolute_url }}" >{{ a.title}}</a>
                                <p>{{ a.menu_level }}</p>
                              </li>
                            </ul>

                            {% for s in a.children %}
                              {% if a.descendant %}

                                <ul>
                                  <li class="dropdown-header">Titulo</li>
                                  <li>
                                    <a href="{{ s.get_absolute_url }}" >{{ s.title}}</a>
                                    <p>{{ s.menu_level }}</p>
                                  </li>
                                </ul>
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                        {% endfor %}
                        {% endif %}
                        {% endfor %}
                    </ul>


                  </li>
                </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </nav>
  </div>
</header>

<script>



</script>
